body {

      backgound : #5c5ab2;
}

#align {
      display: flex;
  align-items: center;
  justify-content: center;    
  height: 100vh;
}

#stage {
      width: 900px;
      height: 556px;
      margin: auto;
      background: white;
      position: relative;
}

#squaree {
      width: 100px;
      height: 100px;
      background: pink;
}

#tri {
         width: 100px;
    height: 100px;
    clip-path: polygon(51% 53%, 0 23%, 100% 23%);
    top: 436px;
    left: 310px;
    background: #dedede;
    position: absolute;
}

#cir {
    width: 237px;
    height: 239px;
    clip-path: ellipse(28% 26% at 51% 49%);
    top: 238px;
    left: 239px;
    background: #ffecd6;
    position: absolute;
    border-radius: 571px / 590px;
}

#cir2 {
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
    top: 340px;
    left: 300px;
    background: #ff9d61;
    position: absolute;
}

#cir3 {
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
    top: 340px;
    left: 339px;
    background: #ff9d61;
    position: absolute;
}

#cir4 {
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
    top: 340px;
    left: 379px;
    background: #ff9d61;
    position: absolute;
}

#eye {
     
    width: 10px;
    height: 20px;
    background: black;
    top: 326px;
    left: 373px;
    border-radius: 171px / 294px;
        position: absolute;
}
  

#eye2 {
    width: 10px;
    height: 20px;
    background: black;
    top: 326px;
    left: 334px;
    border-radius: 171px / 294px;
    position: absolute;
}

#bodypart {
       width: 137px;
    height: 110px;
    clip-path: ellipse(37% 40% at 57% 48%);
    top: 393px;
    left: 282px;
    background: #db4141;
    position: absolute;
}

#cir5 {
      width: 60px;
    height: 58px;
    clip-path: circle(40% at 40% 40%);
    top: 468px;
    left: 300px;
    background: #ffea16;
    position: absolute;
}
#cir6 {
      width: 60px;
    height: 58px;
    clip-path: circle(40% at 40% 40%);
    top: 468px;
    left: 376px;
    background: #ffea16;
    position: absolute;
}

#cir7 {
        width: 192px;
    height: 14px;
    clip-path: circle(30% at 30% 30%);
    top: 406px;
    left: 303px;
    background: #865843;
    position: absolute;
}

#arm {
width: 36px;
    height: 49px;
    clip-path: inset(5% 0 26% 10%);
    top: 416px;
    left: 387px;
    background: #db4141;
    position: absolute;
}

#cir8 {
    width: 40px;
    height: 36px;
    clip-path: circle(50% at 50% 50%);
    top: 417px;
    left: 271px;
    background: #ffea16;
    position: absolute;
}
#arm2 {
width: 36px;
    height: 49px;
    clip-path: inset(5% 0 26% 10%);
    top: 416px;
    left: 295px;
    background: #db4141;
    position: absolute;
}

#cir9 {
     width: 40px;
    height: 36px;
    clip-path: circle(50% at 50% 50%);
    top: 417px;
    left: 412px;
    background: #ffea16;
    position: absolute;
}

#cir10 {
     width: 26px;
    height: 99px;
    clip-path: ellipse(28% 26% at 51% 49%);
    top: 425px;
    left: 323px;
    background: #db4141;
    position: absolute;
    border-radius: 571px / 590px;
    transform: rotate( 120deg );
}

#cir11 {
       width: 36px;
    height: 98px;
    clip-path: ellipse(28% 26% at 51% 49%);
    top: 426px;
    left: 367px;
    background: #db4141;
    position: absolute;
    border-radius: 571px / 590px;
    transform: rotate( 60deg );
}
#squaree2 {
      width: 953px;
    height: 669px;
    background: pink;
}

#cir12 {
   width: 287px;
    height: 146px;
    clip-path: ellipse(28% 26% at 51% 49%);
    top: 428px;
    left: 215px;
    background: #93887d;
    background: #f6aaaa;
    position: absolute;
    border-radius: 571px / 590px;
}

#cir65 {
        width: 236px;
    height: 7px;
    clip-path: circle(30% at 30% 30%);
    top: 452px;
    left: 289px;
    background: #c1bab7;
    position: absolute;
}

#cir44 {
      width: 24px;
    height: 24px;
    clip-path: circle(50% at 50% 50%);
    top: 417px;
    left: 348px;
    background: #f8e914;
    position: absolute;
}

#cir45 {
        width: 241px;
    height: 235px;
    clip-path: circle(50% at 50% 50%);
    top: 246px;
    left: 129px;
    background: #b0c2d4;
    position: absolute;
}

#squaree3 {
          width: 96px;
    height: 216px;
    top: 221px;
    left: 202px;
    background: #b0c2d4;
    position: absolute;
}

#leaf {
     width: 241px;
    height: 235px;
    clip-path: polygon(9% 0%, 27% 17%, 34% 29%, 32% 44%, 29% 51%, 32% 58%, 36% 68%, 42% 85%, 44% 94%, 43% 100%, 53% 100%, 51% 88%, 50% 79%, 47% 71%, 42% 61%, 37% 53%, 41% 33%, 40% 23%, 34% 14%, 28% 6%, 20% 2%);
    top: 33px;
    left: 119px;
    background: #67a894;
    position: absolute;
}

#leaf2 {
         width: 213px;
    height: 320px;
    clip-path: polygon(9% 0%, 27% 17%, 34% 29%, 32% 44%, 29% 51%, 32% 58%, 36% 68%, 42% 85%, 44% 94%, 43% 100%, 53% 100%, 51% 88%, 50% 79%, 47% 71%, 42% 61%, 37% 53%, 41% 33%, 40% 23%, 34% 14%, 28% 6%, 20% 2%);
    top: 63px;
    left: 181px;
    background: #8dbcad;
    position: absolute;
    transform: rotate( -20deg );
}